@import './normalize.css';

* {
  margin: 0;
  padding: 0;
}

html {
  min-width: 320px;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;

}
body,html {
  height: 100%;
}
#app {
  height: 100%;
}

